*{box-sizing: border-box;padding: 0;margin: 0;}
.wrapper{max-width: 1200px;padding: 0 50px;width: 100%;margin: 0 auto;}
a{display: inline-block;}
ul{list-style: none;}
ul li a{text-decoration: none;}

.head_top{display: flex;align-items: center;padding: 30px 0;}
.logo{display: inline-block;}
.menu{padding: 0 0 0 50px;width: 100%;}
.menu nav{text-align: right;}
.menu ul li a{font-weight: 600;font-size: 18px;color: #777777;}
.menu ul li a:hover{color: #fe7865;}
.menu ul li:last-child{padding-right: 0;} 
.menu ul li{display: inline-block;padding: 0 8px;}
