* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.wrapper {
  max-width: 1200px;
  padding: 0 50px;
  width: 100%;
  margin: 0 auto;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style: none;
}
.col-8 {
  width: 66.67%;
  padding: 0 15px;
  float: left;
}
.col-6 {
  width: 50%;
  padding: 0 15px;
  float: left;
}
.col-4 {
  width: 33.33%;
  padding: 0 15px;
  float: left;
}
.col-3 {
  width: 25%;
  padding: 0 15px;
  float: left;
}
.col-2 {
  width: 16.67%;
  padding: 0 15px;
  float: left;
}
.col-5 {
  width: 41.65%;
  padding: 0 15px;
  float: left;
}
.col-7 {
  width: 58.35%;
  padding: 0 15px;
  float: left;
}
.col-9 {
  width: 75%;
  padding: 0 15px;
  float: left;
}
.clearfix {
  clear: both;
  margin: 0 -15px;
  overflow: auto;
}
img {
  width: 100%;
  height: 100%;
}
.btn_org a {
  color: #ffffff;
  background-color: #fe7865;
  font-size: 18px;
  padding: 15px 40px 15px 35px;
  border: 1px solid #fe7865;
  position: relative;
  line-height: 18px;
}
.btn_org a::before {
  content: url("../image/btn_arrow.png");
  position: absolute;
  right: 19px;
  top: 42%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
}
.btn_org a:hover {
  background-color: #ffffff;
  color: #fe7865;
}
.btn_org a:hover::before {
  content: url("../image/btn_arrow_hover.png");
}
p {
  font-size: 18px;
  font-weight: 400;
  color: #777777;
  line-height: 26px;
}

.head_top {
  display: flex;
  align-items: center;
  padding: 30px 0;
}
.logo {
  display: inline-block;
}
.menu {
  padding: 0 0 0 50px;
  width: 100%;
}
.menu nav {
  text-align: right;
}
.menu ul li a {
  font-weight: 600;
  font-size: 18px;
  color: #777777;
}
.menu ul li a:hover {
  color: #fe7865;
}
.menu ul li:last-child {
  padding-right: 0;
}
.menu ul li {
  display: inline-block;
  padding: 0 8px;
}

.discount_product_img {
  position: relative;
  overflow: hidden;
}
.discount_product_text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 35px 25px;
}
.discount_product_text h3 {
  font-size: 30px;
  line-height: 40px;
  color: #333333;
  padding-bottom: 20px;
}
.discount_product_text a {
  color: #777777;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}
.discount_product_text a::before {
  position: absolute;
  top: 0;
  right: -15px;
  content: url("../image/right-arrow.png");
  width: 10px;
  height: 10px;
}
.discount_product_text a:hover {
  color: #fe7865;
}
.discount_product_text a:hover::before {
  content: url("../image/right-arrow-hover.png");
}
.discount_product_img:hover img {
  transform: scale(1.2);
  transition: all 0.4s ease-in-out;
}
.discount_product_img img {
  transition: all 0.4s ease-in-out;
}
#discount_product {
  padding: 100px 0 0;
}

#service {
  background: #fffaf6;
}
.service_inr {
  padding: 100px 0;
}
.service_top {
  padding: 0 0 60px;
}
.service_title h4 {
  color: #fe7865;
  position: relative;
  font-size: 24px;
  font-weight: 500;
  padding-left: 100px;
}
.service_title h4::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fe7865;
  content: "";
  width: 90px;
  height: 2px;
}
.service_title h2 {
  font-size: 32px;
  color: #333333;
  font-weight: 600;
  margin: 17px 0;
}
.service_bottom_img {
  padding: 0 0 30px;
}
.service_bottom_types_col_inr {
  border: 1px solid #dddddd;
  background-color: #ffffff;
  text-align: center;
  padding: 20px 10px;
  margin-top: 30px;
}
.service_bottom_types_text h5 {
  font-size: 25px;
  color: #fe7865;
  text-transform: capitalize;
  margin: 10px 0;
}
.service_bottom_types_col:first-child
  .service_bottom_types_col_inr:first-child {
  margin-top: 0;
}

.showcase_inr {
  padding: 100px 0;
}
.showcase_title h3 {
  font-size: 40px;
  color: #333333;
}

.team_inr {
  padding: 100px 0;
}
#team {
  background: #fffaf6;
}
.title {
  text-align: center;
}
.title h3 {
  font-size: 37px;
  color: #333333;
}
.title p {
  width: 50%;
  margin: 0 auto;
  padding: 20px 0 0;
}
.team_col_inr {
  background: #ffffff;
  padding: 30px 20px;
  text-align: center;
  border: 1px solid #ffffff;
}
.team_col_inr:hover {
  border-color: #fe7865;
  box-shadow: 0 0 7px 0 rgba(254, 119, 101, 0.55);
}
.team_col_title a {
  font-size: 25px;
  color: #333333;
  font-weight: bold;
}
.team_col_title a:hover {
  color: #fe7865;
}
.team_col_content h6 {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  color: #777777;
  padding: 15px 0;
}
.team_col_social ul {
  border: 1px solid #fe7865;
  border-radius: 50px;
  background: #ffe8e5;
  display: inline-block;
  padding: 8px 14px;
}
.team_col_social ul li {
  display: inline-block;
  padding: 0 10px;
  vertical-align: -webkit-baseline-middle;
}
.team_col_img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.team_col_img img {
  border-radius: 50%;
}
.team_col_content {
  margin-top: 30px;
}
.team_bottom {
  padding: 40px 0 0;
}

.blog_inr {
  padding: 100px 0;
}
.blog_col_content_top a {
  font-size: 22px;
  font-weight: bold;
  color: #333333;
  line-height: 34px;
}
.blog_col_content {
  border: 1px solid #dddddd;
}
.blog_col_content_top span {
  font-size: 16px;
  color: #777777;
  font-style: italic;
  padding: 5px 0 0;
  display: block;
}
.blog_col_content_top {
  padding: 20px;
  border-bottom: 1px solid #dddddd;
}
.blog_col_content_bottom {
  padding: 20px;
}
.blog_content_left_img {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
}
.blog_content_left_img img {
  border-radius: 50%;
}
.blog_left_img_title {
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
}
.blog_left_img_title a {
  font-size: 17px;
  text-transform: uppercase;
  color: #333333;
}
.blog_col_content_bottom_left {
  display: inline-block;
  vertical-align: middle;
  width: 68%;
}
.blog_col_content_bottom_right {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  text-align: right;
}
.blog_col_content_bottom_right ul li {
  display: inline-block;
  padding: 0 8px;
}
.blog_col_content_bottom_right ul li a {
  width: 17px;
  height: 17px;
}
.blog_bottom {
  padding: 50px 0 0;
}
.blog_col_inr {
  box-shadow: 0 15px 21px 0 rgba(254, 119, 101, 0.06);
}

.contact_title {
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  color: #333333;
}
.contact_box {
  box-shadow: 0 0 40px 0 rgba(156, 156, 156, 0.25);
  background-color: #fff;
  padding: 30px;
  margin: 60px 0 0;
}
.contact_box_left h3 {
  color: #333333;
  font-weight: bold;
  font-size: 30px;
}
.contact_box_info ul li {
  padding: 15px 0 15px 40px;
  font-size: 20px;
  color: #777777;
  font-weight: bold;
  position: relative;
}
.contact_box_info {
  margin: 15px 0 0;
}
.contact_box_info ul li.phone::before {
  content: "";
  position: absolute;
  left: 0;
  top: 17px;
  width: 20px;
  height: 20px;
  background: url(../image/phone.png);
}
.contact_box_info ul li.mail::before {
  content: "";
  position: absolute;
  left: 0;
  top: 18px;
  width: 20px;
  height: 20px;
  background: url(../image/mail.png);
}
.contact_box_info ul li.address::before {
  content: "";
  position: absolute;
  left: 0;
  top: 16px;
  width: 20px;
  height: 20px;
  background: url(../image/address.png);
}
.contact_box_form {
  padding: 10px 15px;
  margin-left: -3px;
}
.contact_box_form.half_width {
  width: 50%;
  display: inline-block;
}
.contact_box_form input {
  width: 100%;
  height: 55px;
  border: 1px solid #dddddd;
  background: #f7f7ff;
  padding: 0 20px;
  font-size: 16px;
  color: #777777;
}
.contact_box_form input::placeholder {
  font-size: 16px;
  color: #777777;
}
.contact_box_form textarea::placeholder {
  font-size: 16px;
  color: #777777;
}
.contact_box_form textarea {
  width: 100%;
  height: 155px;
  border: 1px solid #dddddd;
  background: #f7f7ff;
  padding: 20px;
  font-size: 16px;
  color: #777777;
  resize: none;
}
.contact_btn {
  padding: 20px 15px 0;
}
.contact_btn button {
  background: #fe7865;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  height: 50px;
  padding: 0 35px;
  border: 1px solid #fe7865;
  cursor: pointer;
}
.contact_btn button:hover {
  background: #ffffff;
  color: #fe7865;
}
#contact_us {
  position: relative;
  z-index: 2;
}

#footer {
  position: relative;
  z-index: 1;
}
#footer::before {
  content: "";
  bottom: 0;
  left: 0;
  background: url(../image/footer-bg.png);
  z-index: -1;
  background-size: 100% 100%;
  height: 770px;
  right: 0;
  position: absolute;
}
.footer_social {
  padding: 15px 0 0;
}
.footer_social ul li {
  display: inline-block;
  margin: 0 5px;
}
.footer_social ul li:first-child {
  margin-left: 0;
}
.footer_social ul li a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  background: #ffffff;
  line-height: 35px;
  position: relative;
  box-shadow: 0 5px 21px 0 rgba(254, 119, 101, 0.2);
}
.footer_social ul li a:hover {
  background: #fe7865;
}
.footer_social ul li a img {
  vertical-align: middle;
}
.footer_social .footer_fb a::before {
  content: "";
  position: absolute;
  background: url(../image/facebook.png);
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer_social .footer_twitter a::before {
  content: "";
  position: absolute;
  background: url(../image/twitter.png);
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer_social .footer_insta a::before {
  content: "";
  position: absolute;
  background: url(../image/insta.png);
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer_social .footer_fb a:hover::before {
  background: url(../image/facebook_hover.png);
}
.footer_social .footer_insta a:hover::before {
  background: url(../image/insta_hover.png);
}
.footer_social .footer_twitter a:hover::before {
  background: url(../image/twitter_hover.png);
}
.footer_content p {
  width: 95%;
}
.footer_col h4 {
  color: #333333;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0 0;
}
.footer_link ul li {
  padding: 8px 0;
}
.footer_link ul li a {
  font-size: 18px;
  color: #777777;
}
.footer_link {
  padding: 8px 0 0;
}
.footer_link ul li a:hover {
  color: #fe7865;
}
.footer_contact {
  padding: 8px 0 0;
}
.footer_contact ul li h6 {
  font-size: 18px;
  color: #777777;
  display: inline-block;
  vertical-align: top;
  font-weight: 400;
  line-height: 26px;
  width: 30%;
}
.footer_contact_info {
  width: 68%;
  display: inline-block;
  vertical-align: top;
}
.footer_contact_info p {
  font-size: 18px;
  color: #777777;
}
.footer_contact ul li {
  padding: 5px 0;
}
.footer_top {
  padding: 75px 0 120px;
}
.footer_bottom {
  border-top: 1px solid #777777;
  text-align: center;
  padding: 20px 0;
}
.footer_bottom p {
  color: #333333;
}
.footer_bottom p a {
  color: #fe7865;
}

.banner_header h1 {
  font-size: 92px;
  letter-spacing: 3px;
}
.banner_header h1 span {
  position: relative;
  display: inline-block;
}
.banner_header h1 span::before {
  position: absolute;
  content: "";
  height: 10px;
  background-color: rgba(254, 120, 101, 0.5);
  left: 0;
  right: 0;
  bottom: 15px;
  z-index: auto;
}
.banner_slider_inr {
  background: #fffaf6;
}
.banner_slider_content_inr {
  margin: 25px 0 0 100px;
}
.banner_header p {
  padding: 10px 0 25px;
}
.banner_social ul li {
  display: inline-block;
  margin: 0 5px;
}
.banner_social ul li:first-child {
  margin-left: 0;
}
.banner_social ul li a {
  border: 1px solid #ddd;
  width: 30px;
  height: 30px;
  text-align: center;
  position: relative;
}
.banner_social ul li a:hover {
  border-color: #fe7865;
}
.banner_social ul li a img {
  vertical-align: middle;
}
.banner_social .banner_fb a::before {
  content: "";
  position: absolute;
  background: url(../image/facebook.png);
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner_social .banner_twitter a::before {
  content: "";
  position: absolute;
  background: url(../image/twitter.png);
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner_social .banner_insta a::before {
  content: "";
  position: absolute;
  background: url(../image/insta.png);
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner_social .banner_fb a:hover::before {
  background: url(../image/banner_fb.png);
}
.banner_social .banner_insta a:hover::before {
  background: url(../image/banner_insta.png);
}
.banner_social .banner_twitter a:hover::before {
  background: url(../image/banner_twitter.png);
}
.banner_social {
  text-align: right;
  position: relative;
  margin: 15px 0 0;
}
.banner_social::before {
  position: absolute;
  content: "";
  left: -9%;
  width: 480px;
  height: 1px;
  background: #fe7865;
  top: 50%;
  transform: translateY(-50%);
}
.banner_slider_otr {
  position: relative;
}
.banner_slider_otr .slick-dots {
  position: absolute;
  left: -4%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.banner_slider_otr .slick-dots li {
  padding: 4px 0;
}
.banner_slider_otr .slick-dots button {
  font-size: 0;
  border: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fbb0a5;
}
.banner_slider_otr .slick-dots .slick-active button {
  width: 15px;
  height: 15px;
  background: #fe7865;
}
.banner_slider_img_inr {
  position: relative;
}
.banner_slider_img_offer {
  position: absolute;
  right: -70px;
  top: 70px;
  width: 125px;
  height: 125px;
  background: #fe7865;
  border-radius: 50%;
  text-align: center;
  line-height: 125px;
}
.banner_slider_img_offer p {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
}
.banner_slider_otr .slick-track {
  transition: none !important;
}

.showcase_bottom {
  padding: 70px 0 20px;
}
.showcase_bottom_slider_inr {
  position: relative;
  margin-bottom: 40px;
  margin-right: 50px;
}
.showcase_bottom_slider_inr::after {
  position: absolute;
  content: "";
  width: 400px;
  height: 230px;
  right: -50px;
  background: #fff3f1;
  z-index: -1;
  bottom: -40px;
}
.showcase_slider_btn {
  position: absolute;
  left: 70px;
  bottom: -35px;
}
.showcase_slider_btn a::before {
  content: none;
}
.showcase_slider_btn a:hover::before {
  content: none;
}
.showcase_slider_btn a {
  font-weight: bold;
  font-size: 22px;
  padding: 30px 70px;
}
.showcase_bottom_slider {
  position: relative;
}
.showcase_bottom_slider .slick-arrow:focus {
  outline: none;
}
.showcase_bottom_slider .slick-arrow {
  position: absolute;
  right: 20px;
  top: 65px;
  z-index: 1;
  font-size: 0;
  background: #fe7865;
  width: 70px;
  line-height: 50px;
  border: 0;
  cursor: pointer;
}
.showcase_bottom_slider .slick-next {
  right: -50px;
}
.showcase_bottom_slider .slick-next::before {
  position: absolute;
  content: "";
  background: #ffffff;
  height: 30px;
  width: 1px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.showcase_bottom_slider .slick-next::after {
  position: absolute;
  content: "";
  background: url(../image/right-side.png);
  width: 25px;
  height: 25px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.showcase_bottom_slider .slick-prev::after {
  position: absolute;
  content: "";
  background: url(../image/right-side.png);
  width: 25px;
  height: 25px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-180deg);
}

.team_col_social ul li a {
  position: relative;
  width: 16px;
  height: 16px;
}
.team_col_social .team_fb a::before {
  content: "";
  position: absolute;
  background: url(../image/facebook.png);
  width: 16px;
  height: 16px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.team_col_social .team_twitter a::before {
  content: "";
  position: absolute;
  background: url(../image/twitter.png);
  width: 16px;
  height: 16px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.team_col_social .team_insta a::before {
  content: "";
  position: absolute;
  background: url(../image/insta.png);
  width: 16px;
  height: 16px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.team_col_social .team_fb a:hover::before {
  background: url(../image/banner_fb.png);
}
.team_col_social .team_insta a:hover::before {
  background: url(../image/banner_insta.png);
}
.team_col_social .team_twitter a:hover::before {
  background: url(../image/banner_twitter.png);
}

#video_slider {
  position: relative;
  padding-top: 170px;
}
.video_slider_otr {
  position: absolute;
  background: url(../image/ts-bg.jpg);
  top: 0;
  left: 0;
  width: 100%;
  height: 68%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
}
.video_slider_content {
  background: rgba(254, 120, 101, 0.9);
}
.video_slider_text p {
  font-size: 29px;
  color: #ffffff;
  font-weight: 600;
  font-style: italic;
  line-height: 48px;
  padding-bottom: 30px;
  position: relative;
}
.video_slider_text p::before {
  content: "";
  position: absolute;
  left: 0;
  top: -80px;
  background: url(../image/right-quote.png);
  width: 80px;
  height: 80px;
}
.video_slider_text h5 {
  color: #ffffff;
  font-weight: 600px;
  font-size: 18px;
  line-height: 25px;
}
.video_slider_text h6 {
  color: #ffffff;
  font-weight: normal;
  font-size: 16px;
}
.video_slider_text {
  padding: 120px 25px 50px;
}
.video_slider_icon_inr {
  text-align: right;
}
.video_slider_icon_inr a {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #ffffff;
}
.video_slider_icon_inr a::before {
  content: "";
  position: absolute;
  background: url(../image/play.png);
  width: 45px;
  height: 45px;
  top: 50%;
  left: 56%;
  transform: translate(-50%, -50%);
}
.video_slider_icon_inr a:hover {
  background: #fe7865;
}
.video_slider_icon_inr a:hover::before {
  background: url(../image/play-hover.png);
}

.collection_left_inr h4 {
  text-transform: uppercase;
  background: #e5e5e5;
  font-weight: 600;
  font-size: 23px;
  padding: 30px 10px;
  text-align: center;
}
.collection_left_inr ul li {
  border: 1px solid #dddddd;
  color: #777777;
  font-weight: 600;
  text-align: center;
  padding: 15px 10px;
  font-size: 20px;
  cursor: pointer;
}
.collection_left_inr ul li.current {
  color: #ffffff;
  background: #fe7865;
  border-color: #fe7865;
}
.collection_slider_img {
  position: relative;
}
.collection_img_tag {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #fe7865;
  top: 20px;
  right: 20px;
  text-align: center;
  line-height: 63px;
}
.collection_img_tag p {
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;
  display: inline-block;
  vertical-align: middle;
}
.collection_slider_img_detail a {
  color: #333333;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 3px;
}
.collection_slider_img_detail {
  padding: 20px 0 0;
  text-align: center;
}
.collection_slider_inr {
  padding: 0 15px;
}
.collection_slider {
  margin: 0 -15px;
  position: relative;
  display: none;
}
.collection_slider_img_detail h6 {
  font-size: 18px;
  font-weight: 600;
  position: relative;
  margin: 3px;
  display: inline-block;
}
.collection_slider_img_detail h6.discount_price {
  color: #fe7865;
}
.collection_slider_img_detail h6.regular_price {
  color: #c4c4c4;
}
.collection_slider_img_detail h6.regular_price::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #333333;
  top: 50%;
  transform: translateY(-50%);
}
.collection_slider_img_detail .ratings li {
  display: inline-block;
  position: relative;
  padding: 0 3px;
  width: 12px;
  height: 12px;
}
.collection_slider_img_detail .ratings li::before {
  content: "";
  position: absolute;
  background: url(../image/star-fill.png);
  width: 12px;
  height: 12px;
  top: 0;
  right: 0;
}
.collection_slider_img_detail .ratings li.star::before {
  background: url(../image/star.png);
}
.collection_slider .slick-arrow:hover {
  background: #fe7865;
}
.collection_slider .slick-arrow:focus {
  outline: none;
}
.collection_slider .slick-arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fe7865;
  right: 0;
  font-size: 0;
  background: #ffffff;
  z-index: 9;
}
.collection_slider .slick-next {
  top: 38%;
  transform: translateY(-50%);
}
.collection_slider .slick-prev {
  top: 52%;
  transform: translateY(-50%);
}
.collection_slider .slick-prev::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  transform: translate(-50%, -50%);
  background: url(../image/left-arrow.png);
}
.collection_slider .slick-next::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  transform: translate(-50%, -50%) rotate(180deg);
  background: url(../image/left-arrow.png);
}
.collection_slider .slick-next:hover::before {
  background: url(../image/left-arrow-hover.png);
}
.collection_slider .slick-prev:hover::before {
  background: url(../image/left-arrow-hover.png);
}
.collection_slider_img_detail a:hover {
  color: #fe7865;
}
.collection_slider.current {
  display: inherit;
}
#collection {
  padding: 100px 0;
}
