* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.wrapper {
  max-width: 1200px;
  padding: 0 50px;
  width: 100%;
  margin: 0 auto;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style: none;
}
.col-8 {
  width: 66.67%;
  padding: 0 15px;
  float: left;
}
.col-6 {
  width: 50%;
  padding: 0 15px;
  float: left;
}
.col-4 {
  width: 33.33%;
  padding: 0 15px;
  float: left;
}
.col-3 {
  width: 25%;
  padding: 0 15px;
  float: left;
}
.clearfix {
  clear: both;
  margin: 0 -15px;
  overflow: auto;
}
img {
  width: 100%;
  height: 100%;
}
.btn_org a {
  color: #ffffff;
  background-color: #fe7865;
  font-size: 18px;
  padding: 10px 40px;
  border: 1px solid #fe7865;
  position: relative;
  line-height: 18px;
}
.btn_org a::before {
  content: url("../image/btn_arrow.png");
  position: absolute;
  right: 21px;
  top: 38%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
}
.btn_org a:hover {
  background-color: #ffffff;
  color: #fe7865;
}
.btn_org a:hover::before {
  content: url("../image/btn_arrow_hover.png");
}
p {
  font-size: 18px;
  font-weight: 400;
  color: #777777;
  line-height: 26px;
}

.head_top {
  display: flex;
  align-items: center;
  padding: 30px 0;
}
.logo {
  display: inline-block;
}
.menu {
  padding: 0 0 0 50px;
  width: 100%;
}
.menu nav {
  text-align: right;
}
.menu ul li a {
  font-weight: 600;
  font-size: 18px;
  color: #777777;
}
.menu ul li a:hover {
  color: #fe7865;
}
.menu ul li:last-child {
  padding-right: 0;
}
.menu ul li {
  display: inline-block;
  padding: 0 8px;
}

.discount_product_img {
  position: relative;
  overflow: hidden;
}
.discount_product_text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 35px 25px;
}
.discount_product_text h3 {
  font-size: 30px;
  line-height: 40px;
  color: #333333;
  padding-bottom: 20px;
}
.discount_product_text a {
  color: #777777;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}
.discount_product_text a::before {
  position: absolute;
  top: 0;
  right: -15px;
  content: url("../image/right-arrow.png");
  width: 10px;
  height: 10px;
}
.discount_product_text a:hover {
  color: #fe7865;
}
.discount_product_text a:hover::before {
  content: url("../image/right-arrow-hover.png");
}
.discount_product_img:hover img {
  transform: scale(1.2);
  transition: all 0.4s ease-in-out;
}
.discount_product_img img {
  transition: all 0.4s ease-in-out;
}

#service {
  background: #fffaf6;
}
.service_inr {
  padding: 100px 0;
}
.service_top {
  padding: 0 0 60px;
}
.service_title h4 {
  color: #fe7865;
  position: relative;
  font-size: 24px;
  font-weight: 500;
  padding-left: 100px;
}
.service_title h4::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fe7865;
  content: "";
  width: 90px;
  height: 2px;
}
.service_title h2 {
  font-size: 32px;
  color: #333333;
  font-weight: 600;
  margin: 17px 0;
}
.service_bottom_img {
  padding: 0 0 30px;
}
.service_bottom_types_col_inr {
  border: 1px solid #dddddd;
  background-color: #ffffff;
  text-align: center;
  padding: 20px 10px;
  margin-top: 30px;
}
.service_bottom_types_text h5 {
  font-size: 25px;
  color: #fe7865;
  text-transform: capitalize;
  margin: 10px 0;
}
.service_bottom_types_col:first-child
  .service_bottom_types_col_inr:first-child {
  margin-top: 0;
}

.showcase_inr {
  padding: 100px 0;
}
.showcase_title h3 {
  font-size: 40px;
  color: #333333;
}

.team_inr {
  padding: 100px 0;
}
#team {
  background: #fffaf6;
}
.title {
  text-align: center;
}
.title h3 {
  font-size: 37px;
  color: #333333;
}
.title p {
  width: 50%;
  margin: 0 auto;
  padding: 20px 0 0;
}
.team_col_inr {
  background: #ffffff;
  padding: 30px 20px;
  text-align: center;
  border: 1px solid #ffffff;
}
.team_col_inr:hover {
  border-color: #fe7865;
  box-shadow: 0 0 7px 0 rgba(254, 119, 101, 0.55);
}
.team_col_title a {
  font-size: 25px;
  color: #333333;
  font-weight: bold;
}
.team_col_title a:hover {
  color: #fe7865;
}
.team_col_content h6 {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  color: #777777;
  padding: 15px 0;
}
.team_col_social ul {
  border: 1px solid #fe7865;
  border-radius: 50px;
  background: #ffe8e5;
}
.team_col_social ul li {
  display: inline-block;
  padding: 0 5px;
}
.team_col_img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.team_col_img img {
  border-radius: 50%;
}
.team_col_content {
  margin-top: 30px;
}
.team_bottom {
  padding: 40px 0 0;
}

.blog_inr {
  padding: 100px 0;
}
.blog_col_content_top a {
  font-size: 22px;
  font-weight: bold;
  color: #333333;
  line-height: 34px;
}
.blog_col_content {
  border: 1px solid #dddddd;
}
.blog_col_content_top span {
  font-size: 16px;
  color: #777777;
  font-style: italic;
  padding: 5px 0 0;
  display: block;
}
.blog_col_content_top {
  padding: 20px;
  border-bottom: 1px solid #dddddd;
}
.blog_col_content_bottom {
  padding: 20px;
}
.blog_content_left_img {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
}
.blog_content_left_img img {
  border-radius: 50%;
}
.blog_left_img_title {
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
}
.blog_left_img_title a {
  font-size: 17px;
  text-transform: uppercase;
  color: #333333;
}
.blog_col_content_bottom_left {
  display: inline-block;
  vertical-align: middle;
  width: 68%;
}
.blog_col_content_bottom_right {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  text-align: right;
}
.blog_col_content_bottom_right ul li {
  display: inline-block;
  padding: 0 8px;
}
.blog_col_content_bottom_right ul li a {
  width: 17px;
  height: 17px;
}
.blog_bottom {
  padding: 50px 0 0;
}
.blog_col_inr {
  box-shadow: 0 15px 21px 0 rgba(254, 119, 101, 0.06);
}

.contact_title {
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  color: #333333;
}
.contact_box {
  box-shadow: 0 0 40px 0 rgba(156, 156, 156, 0.25);
  background-color: #fff;
  padding: 30px;
  margin: 60px 0 0;
}
.contact_box_left h3 {
  color: #333333;
  font-weight: bold;
  font-size: 30px;
}
.contact_box_info ul li {
  padding: 15px 0 15px 40px;
  font-size: 20px;
  color: #777777;
  font-weight: bold;
  position: relative;
}
.contact_box_info {
  margin: 15px 0 0;
}
.contact_box_info ul li.phone::before {
  content: "";
  position: absolute;
  left: 0;
  top: 17px;
  width: 20px;
  height: 20px;
  background: url(../image/phone.png);
}
.contact_box_info ul li.mail::before {
  content: "";
  position: absolute;
  left: 0;
  top: 18px;
  width: 20px;
  height: 20px;
  background: url(../image/mail.png);
}
.contact_box_info ul li.address::before {
  content: "";
  position: absolute;
  left: 0;
  top: 16px;
  width: 20px;
  height: 20px;
  background: url(../image/address.png);
}
.contact_box_form {
  padding: 10px 15px;
  margin-left: -3px;
}
.contact_box_form.half_width {
  width: 50%;
  display: inline-block;
}
.contact_box_form input {
  width: 100%;
  height: 55px;
  border: 1px solid #dddddd;
  background: #f7f7ff;
  padding: 0 20px;
  font-size: 16px;
  color: #777777;
}
.contact_box_form input::placeholder {
  font-size: 16px;
  color: #777777;
}
.contact_box_form textarea::placeholder {
  font-size: 16px;
  color: #777777;
}
.contact_box_form textarea {
  width: 100%;
  height: 155px;
  border: 1px solid #dddddd;
  background: #f7f7ff;
  padding: 20px;
  font-size: 16px;
  color: #777777;
  resize: none;
}
.contact_btn {
  padding: 20px 15px 0;
}
.contact_btn button {
  background: #fe7865;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  height: 50px;
  padding: 0 35px;
  border: 1px solid #fe7865;
  cursor: pointer;
}
.contact_btn button:hover {
  background: #ffffff;
  color: #fe7865;
}
